@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="CheckPalindrome" asp-controller="Home">Palindrome Exercise</a>
</div>
<div class="text-center">
    <a asp-action="ConvertNumberToString" asp-controller="Home">Convert Number To String</a>
</div>
<div class="text-center">
    <a asp-action="PrintNumberSpiralFormat" asp-controller="Home">Print Number in Spiral Format</a>
</div>
